<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="40171659-7c52-403b-aa70-5c68d706259f"
            Publisher="CN=Brette"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>02PittyLove.WinRT2</DisplayName>
    <PublisherDisplayName>Brette</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="_02PittyLove.WinRT2.App">
        <VisualElements
            DisplayName="02PittyLove.WinRT2"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="02PittyLove.WinRT2"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>