@{
    ViewBag.Title = "Share-A-Dog!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Share-A-Dog, is place where your Animal Shelter can share adoptable dogs with other in-network Animal Rescues!
            </p>
        </div>
    </section>
}
<h3>Who would you like to Share-A-Dog with?</h3>
<ol class="round">
    <li class="one">
        <h5>PittyLove</h5>
        PittyLove.org is the Midwest's primer pitbull rescue organizations. Sharing a dog with PittyLove.org ensures that your dog will be placed with wonderful owners. In order to qualify for any 
        dog at PittyLove.org potential adoptees are screened very carefully. 
        <a href="/Home/Share/">Share...</a>
    </li>

    <li class="two">
        <h5>Michael Vick's (Fighting Chance, Animal Shelter)</h5>
        You cannot be serious? 
        <a href="/Home/Share/">Share...</a>
    </li>
</ol>
